.login-bar {
    position: absolute;
    right: -1px;
    top: 40px;
    width: auto;
    height: auto;
    background: white;
    border: 1px solid var(--text2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.login-bar ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-bar-separator {
    height: 1px;
    width: 100%;
    background: var(--text2);
}

.login-bar li {
    margin: 4px;
    padding: 8px;
    text-align: center;
}

.login-bar li span {
    margin-right: 4px;
}

.login-bar li a,
.login-bar li p {
    text-decoration: none;
    font-size: 1.7rem;
    line-height: 1.8rem;
    color: var(--text-links);
    cursor: pointer;
}

.login-bar li a:hover,
.login-bar li p:hover {
    color: black;
    text-decoration: underline;
}