.myAccount {
    position: relative;
    width: 100%;
    height: 90vh;
}

.myAccount-options {
    position: absolute;
    width: 175px;
    height: auto;
    max-height: 160px;
    margin: 16px;
    background: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--text2);
}

.myAccount-options h1 {
    text-align: center;
    letter-spacing: 0.25rem;
    padding: 12px;
}

.myAccount-options-separator {
    width: 100%;
    height: 1px;
    background: var(--text2);
}

.myAccount-options ul {
    list-style: none;
    padding: 12px;
}

.myAccount-options ul li {
    padding: 4px;
}

.myAccount-options li a {
    font-size: 1.4rem;
    text-decoration: none;
    color: black;
    padding-left: 16px;
}

.myAccount-options li span {
    margin-right: 6px;
}

.myAccount-options li:hover {
    text-decoration: underline;
}

.myAccount-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.myAccount-container .error-profile {
    width: 21%;
    background: var(--bg-error);
    margin-bottom: 18px;
    text-align: center;
    border: 1px solid var(--border-error);
}

.error-profile p {
    padding: 6px;
    font-size: 1.25rem;
    color: var(--text-error);
}

.myAccount-content {
    width: 30%;
    min-width: 380px;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--text2);
}

.myAccount-content h1 {
    text-align: center;
    margin: 12px;
    letter-spacing: 0.3rem;
}

.myAccount-content .profile-inputs {
    padding: 20px;
}

.profile-inputs .profile-group {
    display: flex;
    flex-direction: column;
}

.profile-group input[type="text"],
.profile-group input[type="password"] {
    margin-top: 4px;
    outline: none;
    border: 1px solid var(--text2);
    padding: 4px;
}

.profile-group label {
    font-size: 1.25rem;
    margin-top: 4px;
}

.myAccount-content input[type="submit"] {
    margin: 0 20px 20px 20px;
    background: white;
    padding: 4px;
    border: 1px solid black;
    cursor: pointer;
    transition: 300ms;
}

.myAccount-content input[type="submit"]:hover {
    background: var(--text2);
    border: 1px solid var(--text2);
}

.profile-success {
    width: 240px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    padding: 16px;
    border: 1px solid var(--text2);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.profile-success .profile-success-icon {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    font-size: 4rem;
    border-radius: 100%;
    border: 4px solid var(--text-success);
    color: var(--text-success);

}

.profile-success p {
    margin-top: 24px;
    font-size: 1.2rem;
    text-align: center;
}

.myAccount-img {
    width: 120px;
    margin: 20px auto;
}

.profile-image {
    padding: 2px;
    border: 1px solid var(--text2);
}